/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* reset  */
*{padding:0 ;margin:0;}

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;

    
}
hr{
    margin: 35px 10px 0;
    color: #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    padding: 0;

}
a{text-decoration: none;}
header{background-color:#562EFF ; padding: 25px 0;}

.header-container{width: 870px;}
.logo-area h2{
    color: white;
    align-items: center;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
}
.logo-area{align-items: center;}
nav{}
nav img{
    width: 50px;
    height: 50px;}
nav ul{}
nav ul li{ list-style: none; display: inline-block; padding: 15px;}
nav ul li a{text-decoration: none; color: #ffff}

.container{
    width: 870px;
    background-color: #ffffff;
    border-radius: 5px;
    flex-direction: column;
    padding:30px;
    
}
.flex{
    display:flex;
    
}

.grid{
    display: grid;
    row-gap: 50px;
    
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.col-1{grid-template-columns: repeat(1,1fr);}
.col-2{grid-template-columns: repeat(2,1fr);}
.col-3{grid-template-columns: repeat(3,1fr);}
.section-title{
    color:#562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
.toparea{
    margin-top:30px;
}

.single-player{
    align-items: center;

}

.single-player h3{
    padding-left: 15px;
    font-weight: 500;
    font-size: 18px;
}

.single-player img{width: 56px;
height: 56px;}

/* Top Blog  */

.top-blog{
    padding-top:25px
}
.blog-container{}

.single-blog{}

.single-left{}
.single-left img{width: 224px;
height: 127px;}
.single-right{padding: 10px;}
.single-right h3{
    font-size: 20px;
    font-weight: 500; 
}
.single-right p a{
    color: #562EFF;
}
.single-right p{
    color: #9F9F9F;
}

/* Courses section  */
.courses{margin-top: 25px; margin-bottom:50px;;}
.course_area{
  
}
.single_course{
    box-shadow: 10px 15px 15px #dbd5d5;
    padding: 10px;
    border-radius: 15px;
}
.single_course h3{
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
}

.single_course p {
    color: #ED6B4F;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.single_course img{
    width: 250px;
}
.course-details{
    align-items: center;
    padding: 15px 0;
}
.filled{color: #FFC014}
.time_clock{background-color: #FFE4E8;color: #FF4A60; padding: 5px 10px; border-radius: 15px;font-size: 14px;}